<div class="movie">
    <h2>{{title}}</h2>
    <img
        src="{{imageUrl}}">
    <p>Available Tickets: {{tickets}}</p>
    <div class="btn-group">
        <button><a href="#/edit/{{_id}}">Edit</a></button>
        <button><a href="#/delete/{{_id}}">Delete</a></button>
        <button><a href="#">Buy Ticket</a></button>
        <button><a href="#">Details</a></button>
    </div>
</div>