@model List<CalculatorApp.Models.Calculator>
@{
    ViewData["Title"] = "History";
}

<h2>History</h2>
@foreach (var item in Model)
{
    //<p>@item.LeftOperand @item.Operator @item.RightOperand = @item.Result</p>
    <div class="well">
        @using (Html.BeginForm("Calculate", "Home", FormMethod.Post , new { @class = "form-inline"}))
        {
            <fieldset>
                <div class="form-group">
                    <div class="col-sm-1">
                        @item.LeftOperand
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                        @item.Operator
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">
                        @item.RightOperand
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-1">
                        <p></p>
                        <p>=</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">
                        @item.Result
                    </div>
                </div>
            </fieldset>
        }
    </div>

}
